{% extends 'layouts/base.twig' %}
{% block display %}
    <div class="row align-items-center justify-content-center text-center">

        <div class="col-md-10" data-aos="fade-up" data-aos-delay="400">


            <div class="row justify-content-center mt-5">
                <div class="col-md-8 text-center">
                    <h1>Register</h1>
                </div>
            </div>


        </div>
    </div>
{% endblock %}
{% block content %}
   {{ type }}
    <div class="site-section bg-light">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 mb-5"  data-aos="fade">
                    {{ errors | json_encode }}
                    <form action="{{ path_for('submit.first') }}" method="post"  enctype="multipart/form-data">
                        {{ csrf.field | raw }}
                        <div class="form-group">

                            <label for="inputEmail4">Name</label>
                            <input type="text" name='name' class="form-control {{ errors.name ? 'is-invalid' : '' }}" id="inputEmail4" placeholder="Name">

                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Email</label>
                                <input type="email" name='email' class="form-control {{ errors.email ? 'is-invalid' : '' }}" id="inputEmail4" placeholder="">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputPassword4">Contact Phone</label>
                                <input type="text" name="contact_phone" class="form-control {{ errors.contact_phone ? 'is-invalid' : '' }}" id="inputPassword4" placeholder="">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Password</label>
                                <input type="password" name="password"  class="form-control {{ errors.password ? 'is-invalid' : '' }}" id="inputEmail4" placeholder="">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputPassword4">Confirm Password</label>
                                <input type="password" name="confirm_password" class="form-control {{ errors.confirm_password ? 'is-invalid' : '' }}" id="inputPassword4" placeholder="">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputState">What are you registering as</label>
                            <select id="inputState" class="form-control">
                                <option selected>Choose...</option>
                                <option>Individual</option>
                                <option>Firm</option>
                            </select>
                        </div>




                        <button type="submit" class="btn btn-primary">Register</button>
                    </form>


                </div>

            </div>
        </div>
    </div>

{% endblock %}


